<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Epilogue%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Galileo Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: Epilogue, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f4f2f0] px-10 py-3">
          <div class="flex items-center gap-4 text-[#181411]">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_6_319)">
                  <path
                    d="M8.57829 8.57829C5.52816 11.6284 3.451 15.5145 2.60947 19.7452C1.76794 23.9758 2.19984 28.361 3.85056 32.3462C5.50128 36.3314 8.29667 39.7376 11.8832 42.134C15.4698 44.5305 19.6865 45.8096 24 45.8096C28.3135 45.8096 32.5302 44.5305 36.1168 42.134C39.7033 39.7375 42.4987 36.3314 44.1494 32.3462C45.8002 28.361 46.2321 23.9758 45.3905 19.7452C44.549 15.5145 42.4718 11.6284 39.4217 8.57829L24 24L8.57829 8.57829Z"
                    fill="currentColor"
                  ></path>
                </g>
                <defs>
                  <clipPath id="clip0_6_319"><rect width="48" height="48" fill="white"></rect></clipPath>
                </defs>
              </svg>
            </div>
            <h2 class="text-[#181411] text-lg font-bold leading-tight tracking-[-0.015em]">Samarkand</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-[#181411] text-sm font-medium leading-normal" href="#">Home</a>
              <a class="text-[#181411] text-sm font-medium leading-normal" href="#">Menu</a>
              <a class="text-[#181411] text-sm font-medium leading-normal" href="#">Gallery</a>
              <a class="text-[#181411] text-sm font-medium leading-normal" href="#">Contact</a>
            </div>
            <button
              class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 bg-[#f4f2f0] text-[#181411] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
            >
              <div class="text-[#181411]" data-icon="ShoppingCart" data-size="20px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M222.14,58.87A8,8,0,0,0,216,56H54.68L49.79,29.14A16,16,0,0,0,34.05,16H16a8,8,0,0,0,0,16h18L59.56,172.29a24,24,0,0,0,5.33,11.27,28,28,0,1,0,44.4,8.44h45.42A27.75,27.75,0,0,0,152,204a28,28,0,1,0,28-28H83.17a8,8,0,0,1-7.87-6.57L72.13,152h116a24,24,0,0,0,23.61-19.71l12.16-66.86A8,8,0,0,0,222.14,58.87ZM96,204a12,12,0,1,1-12-12A12,12,0,0,1,96,204Zm96,0a12,12,0,1,1-12-12A12,12,0,0,1,192,204Zm4-74.57A8,8,0,0,1,188.1,136H69.22L57.59,72H206.41Z"
                  ></path>
                </svg>
              </div>
            </button>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="@container">
              <div class="@[480px]:p-4">
                <div
                  class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-xl items-center justify-center p-4"
                  style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("https://cdn.usegalileo.ai/stability/784cc5b5-7335-4122-bb75-74340a281d2e.png");'
                >
                  <div class="flex flex-col gap-2 text-center">
                    <h1
                      class="text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
                    >
                      Welcome to Samarkand
                    </h1>
                    <h2 class="text-white text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal">
                      Discover the beauty of Uzbek cuisine
                    </h2>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#ee7c2b] text-[#181411] text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]"
                  >
                    <span class="truncate">Order Now</span>
                  </button>
                </div>
              </div>
            </div>
            <h2 class="text-[#181411] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">About Us</h2>
            <p class="text-[#181411] text-base font-normal leading-normal pb-3 pt-1 px-4">
              Samarkand is a modern Uzbek restaurant located in San Francisco. We aim to bring the rich flavors and textures of Uzbek food to the Bay Area. Our goal is to provide
              our guests with a warm, inviting atmosphere that reflects the fusion of tradition and contemporary design.
            </p>
            <h2 class="text-[#181411] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Our Menu</h2>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/17054946-b376-4886-b7ef-3bc69dfa8144.png");'
                ></div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Plov</p>
                  <p class="text-[#897261] text-sm font-normal leading-normal">$17</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/91355349-e308-449b-8301-aef8a78e56a2.png");'
                ></div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Samsa</p>
                  <p class="text-[#897261] text-sm font-normal leading-normal">$13</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/75344bda-0c77-4967-b671-c95f55780c69.png");'
                ></div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Lagman</p>
                  <p class="text-[#897261] text-sm font-normal leading-normal">$16</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/74b452d9-3d4b-4b5f-aacb-3dbf215a93db.png");'
                ></div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Manti</p>
                  <p class="text-[#897261] text-sm font-normal leading-normal">$15</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/6f015fc4-ad79-4c00-91b3-0030addc43e0.png");'
                ></div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Somsa</p>
                  <p class="text-[#897261] text-sm font-normal leading-normal">$14</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/3bb9cb77-d43f-40aa-a9be-a2d73331db8e.png");'
                ></div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Shashlik</p>
                  <p class="text-[#897261] text-sm font-normal leading-normal">$18</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/7de7cadc-16c9-4970-ab89-6687c2c10dca.png");'
                ></div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Chuchvara</p>
                  <p class="text-[#897261] text-sm font-normal leading-normal">$12</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/45dee58c-d374-48f8-b700-3503d741a30a.png");'
                ></div>
                <div>
                  <p class="text-[#181411] text-base font-medium leading-normal">Khachapuri</p>
                  <p class="text-[#897261] text-sm font-normal leading-normal">$14</p>
                </div>
              </div>
            </div>
            <h2 class="text-[#181411] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Gallery</h2>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/aa43e3ab-2dab-4682-897a-b8eb8faeb870.png");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/27078f39-124f-4730-b305-7f0f1e6daafa.png");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/b8f70dcb-d9dd-4737-b7f4-82b74dc79c35.png");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://cdn.usegalileo.ai/stability/769343c2-8b07-4aff-976d-7bb9f31c54fd.png");'
                ></div>
              </div>
            </div>
            <h2 class="text-[#181411] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Contact</h2>
            <div class="p-4 grid grid-cols-2">
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#e6e0db] py-4 pr-2">
                <p class="text-[#897261] text-sm font-normal leading-normal">Address</p>
                <p class="text-[#181411] text-sm font-normal leading-normal">1234 Mission St San Francisco, CA 94103</p>
              </div>
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#e6e0db] py-4 pl-2">
                <p class="text-[#897261] text-sm font-normal leading-normal">Phone</p>
                <p class="text-[#181411] text-sm font-normal leading-normal">(415) 123-4567</p>
              </div>
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#e6e0db] py-4 pr-2">
                <p class="text-[#897261] text-sm font-normal leading-normal">Email</p>
                <p class="text-[#181411] text-sm font-normal leading-normal">info@samarkand.com</p>
              </div>
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#e6e0db] py-4 pl-2">
                <p class="text-[#897261] text-sm font-normal leading-normal">Hours</p>
                <p class="text-[#181411] text-sm font-normal leading-normal">Mon-Sat: 11:30am-2:30pm, 5:00pm-9:30pm Sun: 5:00pm-9:30pm</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
