<footer>
    <div class="footer-container">
        <div class="footer-col">
            <h4>Kikers</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae amet dolorum, eum porro corrupti voluptatum?</p>
        </div>
        <div class="footer-col">
            <h4>Quick Links</h4>
            <p><a href="#">Home</a></p>
            <p><a href="#">Home</a></p>
            <p><a href="#">Home</a></p>
            <p><a href="#">Home</a></p>
        </div>
        <div class="footer-col">
            <h4>Shop Now</h4>
            <p><a href="#">New</a></p>
            <p><a href="#">Featured</a></p>
            <p><a href="#">Sale</a></p>
            <p><a href="#">Brand</a></p>
        </div>
        <div class="footer-col">
            <h4>Reach Us</h4>
            <p>Nairobi District 1</p>
            <p>+2540000000012</p>
            <p>kickershop@gmail.com</p>
        </div>
    </div>
    <div class="foot-container">
        <p>&copy; 2024 - Kikers. All rights reserved.</p>
    </div>
</footer>

<style>
    footer {
        background-color: #cae1de;
    }
    .footer-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .footer-col {
        width: 24%;
    }

    .foot-container {
        background-color: #cfcfcf;
    }
</style>