<footer>
    <div class="footer-container">
        <div class="footer-col">
            <h1>Kikers</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae amet dolorum, eum porro corrupti voluptatum?</p>
        </div>
        <div class="footer-col">
            <h1>Quick Links</h1>
            <a href="#">Home</a>
            <a href="#">Home</a>
            <a href="#">Home</a>
            <a href="#">Home</a>
        </div>
        <div class="footer-col">
            <h1>Shop Now</h1>
            <a href="#">New</a>
            <a href="#">Featured</a>
            <a href="#">Sale</a>
            <a href="#">Brand</a>
        </div>
        <div class="footer-col">
            <h1>Reach Us</h1>
            <p>Nairobi District 1</p>
            <p>+2540000000012</p>
            <p>kickershop@gmail.com</p>
        </div>
    </div>
</footer>