{% load static %}
<header>
    <div class="header-container">
        <div class="logo" style="display: flex; align-items: center;">
            <img src="{% static 'images/g33.svg' %}" alt="KickStar" width="70px">
            <span style="font-size: 38px; font-weight: 800;">KickStar</span>
            <!-- <h1>KickStar</h1> -->
        </div>

        <div class="searchbar">
            <form action="">
                <input type="text" placeholder="Search product, color, category, brand..." name="search">
                <button type="submit"><span class="material-symbols-outlined">search</span> </button>
              </form>

        </div>

        <div>
            <div class="cart">
                <span class="material-symbols-outlined">
                    shopping_cart
                    </span>
            </div>
            <div class="account">
                <span class="material-symbols-outlined">
                    account_circle
                    </span>
            </div>
        </div>
    </div>
</header>

<style>
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-container div:last-child {
        display: flex;
        justify-content: space-between;
        gap: 2em;
    }
</style>