<header>
    <div class="header-container">
        <div class="logo">
            <h1>Kikers</h1>
        </div>

        <div class="searchbar">
            <span class="material-symbols-outlined">
                search
                </span>
        </div>

        <div>
            <div class="cart">
                <span class="material-symbols-outlined">
                    shopping_cart
                    </span>
            </div>
            <div class="account">
                <span class="material-symbols-outlined">
                    account_circle
                    </span>
            </div>
        </div>
    </div>
</header>

<style>
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-container div:last-child {
        display: flex;
        justify-content: space-between;
    }
</style>